In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
bbq_df = pd.read_csv("../data/bbq/results.csv")

In [3]:
bbq_df

,id,team_id,competition_id,place_rank,category,score,created_at,updated_at
0,1,1,1867,1,overall,690.2858,2018-11-17 23:14:36,2018-11-17 23:14:36
1,2,2,1867,2,overall,687.4282,2018-11-17 23:14:36,2018-11-17 23:14:36
2,3,3,1867,3,overall,682.2854,2018-11-17 23:14:36,2018-11-17 23:14:36
3,4,4,1867,4,overall,682.2852,2018-11-17 23:14:36,2018-11-17 23:14:36
4,5,5,1867,5,overall,679.9996,2018-11-17 23:14:36,2018-11-17 23:14:36
...,...,...,...,...,...,...,...,...
575574,575575,22948,4632,2,dessert,174.2744,2018-11-18 00:39:06,2018-11-18 00:39:06
575575,575576,22527,4632,3,dessert,170.2628,2018-11-18 00:39:06,2018-11-18 00:39:06
575576,575577,25637,4632,4,dessert,168.5600,2018-11-18 00:39:06,2018-11-18 00:39:06
575577,575578,616,4632,5,dessert,167.4056,2018-11-18 00:39:06,2018-11-18 00:39:06
575578,575579,25635,4632,6,dessert,166.8800,2018-11-18 00:39:06,2018-11-18 00:39:06